* {
    margin: 0;
    padding: 0;
}

.header {
    display:flex;
	flex-direction:row;
	position:relative;
	z-index:1;
	padding:0 62px;
	background-color:#fff;
}

.navbar {
    display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 51px;
	justify-content: flex-end;
}

.navbar a {
    padding-left: 35px;
    font-family: Montserrat;
	font-size: 18px;
	color:#060606;
}

a:link {
    text-decoration: none;
}

#lang {
    padding-left: 51px;
}

.navbar a:hover, 
#lang:hover {
    color: #FFA800;
}

.video-top {
    position: absolute;
	width: 100%;
	z-index: 3;    
}

.video {
    position: relative;
	margin-top: -60px;
}

.video-placeholder{
	width: 100%;
	z-index: -1;
}

.play-btn {
    position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 6.3%;
    background-color: #fff;
    border-radius: 50%;
}

.text-container {
    width:100%;
	text-align: center;
	align-items:center;
}

.text-container p {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin:auto;
	padding: 150px 0;
	width: 47.2%;
	color: #2F4858;
}

.photo-top {
    position:absolute;
	width:100%;
	z-index:3;
}

.photo-container {
    display: flex;
	flex-direction: column;
	width: 100%;
}

.photos {
    display: flex;
	flex-direction: row;
	width: 100%;
}

.photos-inner {
	display: flex;
	flex-direction: column;
	padding-top: 1%;
    width: 22%;
}

.photo1 {
	width: 24%;
}

.photo2 {
	width: 24.5%;
}

.photo5 {
	width: 29.5%;
}

.photo-bottom{
	position:absolute;
	width:100%;
	z-index:3;
	margin-top:-3%;
}

.box-container {
    padding: 150px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.box-container-inner {
    font-family: 'Oswald';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	margin:auto;
	color: #2F4858;
}

.box-container-inner p {
text-transform: uppercase;
}

.box-container-inner .button {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	margin:auto;
	margin-top: 50px;
	width: 233px;
	height: 50px;
	background-color: #FFA800;
	border-radius:25px;
	color: #fff;
}

.box-container-inner .button:hover {
    cursor:pointer;
	background-color: #FFDA16;
}

.input-container {
    align-items: center;
    text-align: center;
}

.input-container h3 {
    margin-bottom: 55px;
    font-family: 'Oswald';
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	color: #2F4858;
    text-transform: uppercase;
}

.input-container-inner {
    display:flex;
	flex-direction:column;
	margin:auto;
	width:612px;
}

.contacts {
    display:flex;
	flex-direction:row;
}

.contacts #name{
    margin-right: 20px;
}


input {
    display:flex;
	flex:1;
	margin-bottom: 15px;
	background-color: #c4c4c466;
	border: none;
	border-radius: 6px;
	height: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #2F4858;
	padding: 13px;
}

textarea:focus, input:focus{
    outline: none;
}

textarea {
    resize: none;
	background-color: #c4c4c466;
	border: none;
	border-radius: 6px;
	height: 206px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #2F4858;
	padding: 13px;
	margin-bottom: 15px;
}

#comment {
    text-align:left;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #2F4858;
	margin-bottom: 25px;
}


.button-send {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 62px;
	text-align: center;
	margin:auto;
	margin-bottom: 150px;
	width: 182px;
	height: 62px;
	background-color: #FFA800;
	border-radius:31px;
	color: #fff;
	transition: all .2s ease-in-out;
}

.button-send:hover{
	cursor:pointer;
	background-color: #FFDA16;
}

.support-container {
	display: flex;
	flex-direction: column;
	position:relative;
	z-index: 1;
	height: 530px;
	background-image: url('../img/orange_ripped.png');
}

.support-container h3 {
	padding: 100px 0 70px 0 ;
	margin: 0;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #2F4858;
	text-transform: uppercase;
}


.supporters {
	flex-direction: row;
	display: inline;
	
}

.supporters-logo {
	align-items: center;
	justify-content: space-around;
	margin-left: 168px;	
}

.supporters-logo img {
	height: 80px;
	padding: 0 42.5px 20px 0;
}

.supporters-logo #logo {
	height: 120px;
	padding: 0 42.5px;
}



.footer {
	width:100%;
	align-items:center;
	margin-top: -35px;
	background-color: #2F4858;
	color: #FFF;
}

.footer-top {
	position:absolute;
	width:100%;
	z-index:-1;
}

.footer .box-container {
	display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container-inner {
	display:flex;
	width: 182px;
	flex-direction: column;	
	padding: 80px 0 13px 62px;
	align-items: center;
	text-align:left;
}

.footer .box-container .box a, p, h4 {
	display: block;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	padding: 1rem 0;
	line-height: 22px;
  }

  .footer .box-container .box h4 {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 24px;
  }

.footer .logo {
	width: 182px;
	height: 182px;
	padding-bottom: 70px;
	margin-left: 62px;
	margin-top: 51px;
}

.footer .box-container #box1 {
	display:flex;
	flex-direction: column;  
	margin-left: 137px;	
	padding: 80px 0 13px 0;
	width: 179px;
	text-align:left;
}

.footer .box-container #box2 {
	display:flex;
	flex-direction: column;  
	margin-left: 82px;	
	padding: 80px 0 13px 0;
	width: 287px;
	text-align:left;
}

.footer .box-container #box3 {
	display:flex;
	flex:1;
	flex-direction: column;	
	padding: 80px 64px 13px 0;
	text-align:right;
}

.footer img:first-of-type{
	margin-right: 29px;
}

.footer h5 {
	display:flex;
	flex:1;
	flex-direction: column;	
	padding: 80px 64px 13px 0;
	font-size: 14px;
	font-family: 'Montserrat';
	font-weight: 500;
	color: #fff;
	padding-top: 51px;	
	font-size: 14px;
	line-height: 17px;
}

.footer .right {
	text-align:right;
}

.box1 {
	display:flex;
	flex-direction: column;  
	margin-left: 137px;	
	padding: 80px 0 13px 0;
	width: 179px;
	text-align:left;
}

.box2{
	display:flex;
	flex-direction: column;  
	margin-left: 82px;	
	padding: 80px 0 13px 0;
	width: 287px;
	text-align:left;
}
.box2 p{
	margin: 0;
	padding-bottom: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}


@media screen and(max-width: 991px) {

}